:root {
  --color-text: rgb(55 65 81);
  --color-second-color: rgb(150 150 150);
  --color-light: rgb(90, 90, 90);
  --color-bg: #fffffe;
  --color-h1: rgb(0, 160, 185);
  --color-code: #f1f1f1;
  --color-border: #fff;
  --color-header: #f1f1f1;
  --color-shadow: rgb(0 0 0 / 50%);
}

body {
  position: relative;
  z-index: 0;
  width: 600px;
  min-height: 100vh;
  margin: auto;
  font-size: 14px;
  color: var(--color-text);
  text-align: center;
  word-break: keep-all;
  background-color: var(--color-bg);
  transition-duration: 0.8s;
}

a {
  color: var(--color-second-color);
  text-decoration: none;
}

a:hover {
  color: #333;
}

h1 {
  padding: 20px;
}

.show_menu {
  display: none;
}

.Line {
  display: none;
}
