@media screen and (max-width: 739.98px) {
  html {
    -webkit-text-size-adjust: none;
  }

  body {
    width: 100%;
    font-size: 14px;
  }

  .header__nav {
    display: none;
  }
  pre {
    max-width: 100%;
    overflow: auto;
  }
}
